{% extends "base.html" %}

{% block content %}
    <h2 class="mb-4">Add New Rasan Record</h2>
    
    <form method="POST">
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" name="date" required>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <h4>Kedi</h4>
                <div class="form-group">
                    <label for="kedi_m">Male</label>
                    <input type="number" class="form-control" id="kedi_m" name="kedi_m" value="0" min="0" required>
                </div>
                <div class="form-group">
                    <label for="kedi_f">Female</label>
                    <input type="number" class="form-control" id="kedi_f" name="kedi_f" value="0" min="0" required>
                </div>
            </div>
            
            <div class="col-md-4">
                <h4>Tifin</h4>
                <div class="form-group">
                    <label for="tifin_m">Male</label>
                    <input type="number" class="form-control" id="tifin_m" name="tifin_m" value="0" min="0" required>
                </div>
                <div class="form-group">
                    <label for="tifin_f">Female</label>
                    <input type="number" class="form-control" id="tifin_f" name="tifin_f" value="0" min="0" required>
                </div>
            </div>
            
            <div class="col-md-4">
                <h4>Medical</h4>
                <div class="form-group">
                    <label for="medical_m">Male</label>
                    <input type="number" class="form-control" id="medical_m" name="medical_m" value="0" min="0" required>
                </div>
                <div class="form-group">
                    <label for="medical_f">Female</label>
                    <input type="number" class="form-control" id="medical_f" name="medical_f" value="0" min="0" required>
                </div>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Save Record</button>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}